<!DOCTYPE html>
<html lang="en">
<head>
    <%- include ('./partials/head.ejs') %>
</head>
<body>
    <nav>
        <ul class="nav nav-tabs checkout-nav">
            <li class="nav-item"><a class="nav-link" href="/">HOME</a></li>
            <li class="nav-item"><a class="nav-link" href="/prints/">PRINTS</a></li>
            <li class="nav-item"><a class="nav-link" href="/widgets/">WIDGETS</a></li>
            <li class="nav-item"><a class="nav-link" href="https://www.instagram.com/spiritualcardboard/">INSTAGRAM</a></li>
            <li class="ml-auto"><img src="../pics/coLogo.png" id="co-logo"> 
            </li>
        </ul>
    </nav>
    <div class="container-fluid checkout-container">
        <div class="padding"></div>
        <div class="col checkout-bpadding">
                <h2 class="checkout-bpadding">Checkout</h2>
                <p>Thanks for visiting spiritualcardboard. If you would like to see more of my work, please visit @spiritualcardboard on Instagram. Thank you for your support!</p>
                <div class="auto-w-pad"></div>
                <hr>
        </div>
        <div class="col checkout-bpadding">
            <div id="yourCart">
                <h3 class="checkout-bpadding" >Cart</h3>
                <ul class="list-group">
                    <% for (let i = 0; i < cart.length; i++) { %>
                        <li class="list-group-item justify-content-between d-flex">
                            <div class="col checkout-tpadding">
                                <h6><%=cart[i].name%></h6>
                                <div class="text-muted">$<%=cart[i].price%></div>
                            </div>
                            <div class="row checkout-img">
                                <img src="<%=cart[i].imgSrc%>">
                                <button type="button" class="close" onclick="location.href='/cart/remove/<%=cart[i].id%>'">&times;</button>
                            </div>
                        </li>
                    <% } %>
                    <li class="list-group-item justify-content-between d-flex">
                        <div class="col total-label">
                            <h6>Total (USD)</h6>
                        </div>
                        <div class="total"><strong>$<%=(15)*(cart.length)%></strong></div>
                    </li>
                </ul>
            </div>
        </div>
        <div>
            <button class="btn btn-outline-primary mt-4 mb-3 ml-3" onclick="location.href='/prints/'">back to prints</button>
            <button class="btn btn-outline-primary mt-4 mb-3 ml-3">proceed to payment</button>
        </div>
        <hr id="checkout-hr">
        <%- include ('./partials/footer.ejs') %>
    </div>
</body>
</html>