<!DOCTYPE html>
<html>
    <head>
        <%- include ('./partials/head.ejs') %>
    </head>
    <body class="body-pad">
        <%- include ('./partials/nav.ejs') %>
        <h1 class="header-lpadding">Edit Print Page</h1>
        <form action="/prints/<%=print.id%>?_method=PUT" method="POST">
            <label for="name">Name:</label><br><input type="text" name="name" value="<%=print.name%>"/><br/>
            <label for="price">Price:</label><br><input name="price"value="<%=print.price%>"></input><br>
            <label for="imgSrc">File Name:</label><br><input type="text" name="imgSrc" value="<%=print.imgSrc%>"/><br/>
            <input type="submit" name="" value="Submit Changes"/>
        </form><br>
        <div class="text-center">
            <a href="/prints/">return to prints</a>
        </div>
        <hr>
        <%- include ('./partials/footer.ejs') %>
    </body>
</html>