<!DOCTYPE html>
<html>
    <head>
        <%- include ('./partials/head.ejs') %>
    </head>
    <body style="padding: 30px">
        <%- include ('./partials/nav.ejs') %>
        <h1 style="padding-left: 20px;">Edit Print Page</h1>
        <form action="/prints/<%=print.id%>?_method=PUT" method="POST">
            <label for="name">Name:</label><br><input type="text" name="name" value="<%=print.name%>"/><br/>
            <label for="price">Price:</label><br><input name="price"value="<%=print.price%>"></input><br>
            <label for="imgSrc">File Name:</label><br><input type="text" name="imgSrc" value="<%=print.imgSrc%>"/><br/>
            <input type="submit" name="" value="Submit Changes"/>
        </form><br>
        <a href="/prints/">return to prints</a>
        <%- include ('./partials/footer.ejs') %>
    </body>
</html>